*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
.header {
    padding-top: 50px;
    max-width: 1230px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.list {
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}
.item-link {
    z-index:5;
    position: relative;
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 18px;
    line-height: 14px;
}

.second-nav .item-link {
    color: #808080;
}
/* clouds attribution (pics and css): https://www.youtube.com/watch?v=FWW38GuIo7M */
.banner{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url("../travels-pics/bg.jpg");
    background-size: cover;
    background-position: bottom;
}
.banner .clouds{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.banner .clouds img
{
    position: absolute;
    bottom: 0;
    max-width: 100%;
    animation: animate calc(10s * var(--i)) linear infinite;
}
@keyframes animate {
    0%
    {
        transform: translateX(-100%);
    }
    100% 
    {
        transform: translateX(100%);
    }
}
section{
    position: relative;
    padding: 75px 100pc;
}
section h2{
    font-size: 2.5em;
    margin-bottom: 20px;
}